name: Build and lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Static checks
    runs-on: ubuntu-latest 

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8.5.1 
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: pnpm
      - name: Install
        run: pnpm install
      - name: Build and lint
        run: pnpm run ci 

  changes:
    name: Check changed files
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    outputs:
      config: ${{ steps.filter.outputs.config }}
    steps:
      - uses: actions/checkout@v3
        if: ${{ github.event_name == 'push' }}
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            config:
              - package.json
              - tsconfig.json
              - forge.config.js

  make:
    name: Make (${{ matrix.os }} - ${{ matrix.arch }})
    if: ${{ needs.changes.outputs.config == 'true' }}
    needs: changes
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macOS-latest, ubuntu-latest, windows-latest ]
        arch: [ x64, arm64 ]
        # Exclude platforms we don't support
        exclude:
        - os: windows-latest
          arch: arm64

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: ^7.29.1
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: pnpm
      - name: Install
        run: pnpm install
      - name: Make
        run: pnpm run make
